@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #202020;
}

/* Makes scroll bars dark */
:root {
  color-scheme: dark;
}

/* Tailwind disables underline for links */
a {
  text-decoration: underline;
}
