button {
	color: rgb(220, 220, 220);
	background-color: #1495ff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: 12px;
	margin-left: 8px;
}

button.buttonslim {
	padding: 8px 14px;
}

button:hover {
	background-color: #0d6fbf;
}

button.active {
	background-color: #0b518a;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
}

.webcontent {
	display: block;
	padding-bottom: 14px;
}

.weblinks {
	display: inline;
	font-size: 20px;
	padding-right: 5px;
}

.domainname {
	display: inline;
	font-size: 12px;
	color: rgb(100, 100, 100);
}

.bottomnav {
	font-size: 20px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	overflow: auto;
	white-space: nowrap;
	width: 100%;
	padding: 7px 0px 7px 10px;
	background-color: rgb(50, 50, 50);
	text-align: center;
}

.bottomnav a {
	margin-right: 40px;
	text-decoration: none;
}

.bottomnav a:last-child {
	margin-right: 0px;
}
