{
	"printWidth": 80,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"proseWrap": "never",
	"bracketSameLine": true,
	"jsxSingleQuote": false,
	"htmlWhitespaceSensitivity": "strict",
	"endOfLine": "crlf"
}
